.DS_Store
pabau2.xcodeproj/xcshareddata/
pabau2.xcodeproj/project.xcworkspace/xcuserdata/
pabau2.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
pabau2.xcworkspace/xcuserdata/
pabau2.xcodeproj/xcuserdata/
JZCalendarWeekView/
pabau2/src/Communication/.swiftpm/xcode/xcuserdata/andrejtrajkovski.xcuserdatad/xcschemes/xcschememanagement.plist
pabau2.xcodeproj/xcuserdata/andrejtrajkovski.xcuserdatad/xcschemes/xcschememanagement.plist
pabau2.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
